
cmake-build-debug-visual-studio/CMakeFiles/SDL_Minesweeper.dir/manifest.res
*.obj
CMakeLists.txt
cmake-build-debug-visual-studio/zlib1.dll
cmake-build-debug-visual-studio/vc140.pdb
cmake-build-debug-visual-studio/Testing/Temporary/LastTest.log
cmake-build-debug-visual-studio/SDL_Minesweeper.pdb
cmake-build-debug-visual-studio/SDL_Minesweeper.ilk
cmake-build-debug-visual-studio/SDL_Minesweeper.exe
cmake-build-debug-visual-studio/SDL2_image.dll
cmake-build-debug-visual-studio/SDL2.dll
cmake-build-debug-visual-studio/libwebp-7.dll
cmake-build-debug-visual-studio/libtiff-5.dll
cmake-build-debug-visual-studio/libpng16-16.dll
cmake-build-debug-visual-studio/libjpeg-9.dll
cmake-build-debug-visual-studio/CMakeFiles/TargetDirectories.txt
cmake-build-debug-visual-studio/CMakeFiles/ShowIncludes/main.c
cmake-build-debug-visual-studio/CMakeFiles/ShowIncludes/foo.h
cmake-build-debug-visual-studio/CMakeFiles/SDL_Minesweeper.dir/vc140.pdb
cmake-build-debug-visual-studio/CMakeFiles/SDL_Minesweeper.dir/manifest.rc
cmake-build-debug-visual-studio/CMakeFiles/SDL_Minesweeper.dir/intermediate.manifest
cmake-build-debug-visual-studio/CMakeFiles/SDL_Minesweeper.dir/embed.manifest
cmake-build-debug-visual-studio/CMakeFiles/rules.ninja
cmake-build-debug-visual-studio/CMakeFiles/CMakeOutput.log
cmake-build-debug-visual-studio/CMakeFiles/cmake.check_cache
cmake-build-debug-visual-studio/CMakeFiles/clion-log.txt
cmake-build-debug-visual-studio/CMakeFiles/clion-environment.txt
cmake-build-debug-visual-studio/CMakeFiles/3.22.3/CompilerIdCXX/CMakeCXXCompilerId.exe
cmake-build-debug-visual-studio/CMakeFiles/3.22.3/CompilerIdCXX/CMakeCXXCompilerId.cpp
cmake-build-debug-visual-studio/CMakeFiles/3.22.3/CompilerIdC/CMakeCCompilerId.exe
cmake-build-debug-visual-studio/CMakeFiles/3.22.3/CompilerIdC/CMakeCCompilerId.c
cmake-build-debug-visual-studio/CMakeFiles/3.22.3/CMakeSystem.cmake
cmake-build-debug-visual-studio/CMakeFiles/3.22.3/CMakeRCCompiler.cmake
cmake-build-debug-visual-studio/CMakeFiles/3.22.3/CMakeDetermineCompilerABI_CXX.bin
cmake-build-debug-visual-studio/CMakeFiles/3.22.3/CMakeDetermineCompilerABI_C.bin
cmake-build-debug-visual-studio/CMakeFiles/3.22.3/CMakeCXXCompiler.cmake
cmake-build-debug-visual-studio/CMakeFiles/3.22.3/CMakeCCompiler.cmake
cmake-build-debug-visual-studio/CMakeCache.txt
cmake-build-debug-visual-studio/cmake_install.cmake
cmake-build-debug-visual-studio/build.ninja
cmake-build-debug-visual-studio/assets/template.png
cmake-build-debug-visual-studio/.ninja_log
cmake-build-debug-visual-studio/.ninja_deps
cmake-build-debug-visual-studio/.cmake/api/v1/reply/toolchains-v1-10d1766b06b8e7a7ec44.json
cmake-build-debug-visual-studio/.cmake/api/v1/reply/target-SDL_Minesweeper-Debug-b9e4663c1d22a3bac0ae.json
cmake-build-debug-visual-studio/.cmake/api/v1/reply/index-2022-06-20T21-58-41-0529.json
cmake-build-debug-visual-studio/.cmake/api/v1/reply/directory-.-Debug-d0094a50bb2071803777.json
cmake-build-debug-visual-studio/.cmake/api/v1/reply/codemodel-v2-43405b354f13158e67b6.json
cmake-build-debug-visual-studio/.cmake/api/v1/reply/cmakeFiles-v1-938d51a61d523242ff5b.json
cmake-build-debug-visual-studio/.cmake/api/v1/reply/cache-v2-ea82cc1bf221dc58e87a.json
cmake-build-debug-visual-studio/.cmake/api/v1/query/toolchains-v1
cmake-build-debug-visual-studio/.cmake/api/v1/query/codemodel-v2
cmake-build-debug-visual-studio/.cmake/api/v1/query/cmakeFiles-v1
cmake-build-debug-visual-studio/.cmake/api/v1/query/cache-v2
.idea/SDL_Minesweeper.iml
.idea/modules.xml
.idea/misc.xml
